html, body {
    height: 100%
  
}

body{
    position: relative;
    min-height: 100%;
}

#body{
    font: 14px "Architects Daughter", "Lucida Grande", Helvetica, Arial, sans-serif !important;
    background-image: url('../images/taco char new.jpeg');
    background-color: rgb(225, 198, 131);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
    align-items: center;
}

a > img {
    height: 3vh;
}

.container-md{
    width: 100% !important
}
footer {
    margin-top: auto;
    display: flex;
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 50px;
}

footer p{
    text-align: center;
    margin: 15px auto
}

.homepage {
    color: black;
    background-color: rgba(227, 224, 204, 0.416);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    text-align: center;
    width: 60%;
    margin: 15% auto;
    opacity: 0.9
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.card-body p{
    color: rgb(187, 205, 138);
    font-size: 16px;
    text-transform: capitalize;
}

#editBody{
    font: 14px "Architects Daughter", "Lucida Grande", Helvetica, Arial, sans-serif !important;
    background-image: url('../images/tacosblue.jpeg');
    background-color: rgb(225, 198, 131);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
      height: 100vh;
    margin: 0;
    align-items: center;
}

#indexBody{
    font: 14px "Architects Daughter", "Lucida Grande", Helvetica, Arial, sans-serif !important;
    background-image: url('../images/hand tacos.jpeg');
    background-color: rgb(225, 198, 131);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
    align-items: center;
}

#formBody{
    font: 14px "Architects Daughter", "Lucida Grande", Helvetica, Arial, sans-serif !important;
    background-image: url('../images/tacosblue.jpeg');
    background-color: rgb(225, 198, 131);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
    align-items: center; 
}

#showBody{
    height: 200%;
    background-color: rgb(225, 198, 131);;
}

.color-div {
    height: 5vh;
}

.formDiv{
    margin: 18% auto;
    max-width: 500px !important
}

.posts{
    padding-left: 0 !important;
    max-width: 450px 
}

.post-item{
   font-size: 20px;
   margin-bottom: 5px; 
   font-weight: 600;
}

.postlabel{
    font-size: 22px;
    font-weight: 600;
    color: yellow
}

.allposts{
    padding-left: 0 !important;
    margin-left: 0 !important;
    max-width: 450px;
    margin-bottom: 100px; 
}

article{
    background-color: white !important;
    width: 360px !important
}





