<body id="body">
    <%- include('../partials/nav') %>

<div class=" homepage" >
    <h1>Welcome to the TacoBoutIt Blog!</h1>
    <p>Embark on a global taco trek with TacoBoutIt! Journey with us as we explore 
        and spotlight the most mouthwatering taco spots from every corner of the globe. 
        Whether it's a humble street cart in Mexico City, a trendy taco joint in Tokyo, 
        or a hidden gem in New York, we're on a quest to discover them all. 
        But the journey doesn't stop with us; we want to hear from you! 
        So, fellow taco lover, if you've stumbled upon a delightful taco haven or have a cherished local spot,
         we invite you to submit it here. Dive into reviews, join our community, 
         and together, let’s craft a world where every road leads to a taco. 
         Because, in the universal language of love and food, 'taco' is a word we all understand.</p>

    <a href="/posts" class="btn btn-primary">Check Out Our Posts</a>
</div>


<%- include('../partials/footer') %>
</body>
