<body id="indexBody">

<%- include('../partials/nav') %>

<div class="container-md">
    <ul>
        <% posts.forEach(post => {%>
            <li>
                <a class="post-item" href="/posts/<%= post._id %>">
                    <%= post.title %>
                </a>
            </li>
        <% }) %>
    </ul>
</div>

<%- include('../partials/footer') %>

</body>