<%- include('../partials/nav') %>

<div class="container-sm">
    <form action="/posts" method="POST">
        <fieldset>
            <label class="form-label">Title:</label>
            <input type="text" class="form-control" name="title" placeholder="Enter location here" required>
            <label class="form-label">Content:</label>
            <textarea type="text" class="form-control" name="content" rows="5" cols="50" placeholder="Enter post text" required></textarea>
          
            <br>
            <hr>
            <input type="submit" class="btn btn-success" value="Create New Post">
        </fieldset>
    </form>
</div>

<%- include('../partials/footer') %>